<div class="content">
  <div class="header">
    {{skill.name}}
  </div>
  <div class="description">
    {{skill.notes}}
  </div>
</div>
{{#if isOwner}}
  <div {{action "openModal"}} class="ui bottom attached button">
    <i class="edit icon"></i> Edit
  </div>
{{/if}}
{{skill-edit-modal skill=skill}}
